.TaskBoxCenter {
    width: 70%;
    float: left;
    border: 2px solid #000;
    background: #1757ee;
    position: fixed;

}
.TaskFixedButton {
margin: 2rem;
padding: 2rem;

}

.TaskBoxCenter2 {
    border: 2px solid #000;
    background: #f3f600;
}

.TaskInfo1 {
    display: inline-block;
    width: 10rem;
    height: 4rem;  
    background: #ff9f43;
    border-radius: 10px;
}
.TaskInfo1 label {
    font-size: 16px;
    color: #fff;
    padding: 1rem;
}

.TaskInfo2 {
    display: inline-block;
    width: 10rem;
    height: 4rem;
    background: #f368e0;
    border-radius: 10px;
}
.TaskInfo2 label {
    font-size: 16px;
    color: #fff;
    padding: 1rem;
}